/* ===== BODY ===== */
body {
	margin: 0;
	min-height: 100vh;

	font-family: 'Trebuchet MS', Arial, sans-serif;
	background-color: darkslategray;
	color: wheat;

	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ===== MAIN MENU ===== */
#main-menu {
	flex: 1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	text-align: center;
	margin: 200px;
}

/* Title */
#main-menu h2 {
	font-size: clamp(24px, 5vw, 40px);
	/* responsive text */
	margin-bottom: 20px;
}

/* ===== MENU ===== */
#menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 300px;
}

/* Buttons */
#menu a {
	display: block;
	/* width: 100%; */
	width: 80%;
	max-width: 250px;

	padding: 12px;
	margin: 10px 0;

	background-color: navajowhite;
	color: black;
	text-decoration: none;

	border-radius: 8px;
	text-align: center;

	transition: 0.2s;
}

/* Hover */
#menu a:hover {
	transform: scale(1.05);
}

/* ===== BACK BUTTON ===== */
.back {
	position: absolute;
	top: 15px;
	left: 15px;
}

.back a {
	text-decoration: none;
	padding: 8px 12px;

	background: navajowhite;
	color: black;
	border-radius: 6px;

	font-size: 14px;
}

/* ===== HEADERS ===== */
#game-header h2,
#credit-header h2 {
	text-align: center;
	padding: 8px 12px;
	font-size: clamp(22px, 4vw, 35px);
}

/* ===== CREDIT TEXT ===== */
#credit {
	text-align: center;
	padding: 20px;
}

#credit p {
	font-size: clamp(16px, 3vw, 24px);
}
